body {
    background: #ecf8f0;
    font-family: "Segoe UI", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    background: white;
    width: 50%;
    margin: auto;
    padding: 35px;
    margin-top: 40px;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0,0,0,0.15);
    animation: fadeIn 0.9s ease;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

h2 {
    text-align: center;
    color: #006b3c;
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-top: 12px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    border-radius: 8px;
    border: 1px solid #bbb;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    background: #00994d;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
}

button:hover {
    background: #007f41;
}

.result {
    background: #e0ffe7;
    padding: 20px;
    border-left: 5px solid #00994d;
    margin-top: 25px;
    border-radius: 10px;
}

.error-box {
    background: #ffe6e6;
    padding: 18px;
    border-left: 5px solid red;
    border-radius: 10px;
    margin-top: 20px;
}

.chart-container {
    margin-top: 40px;
}
